<div id="content" class="animated fadeInLeft">
	<h2>The Ceremony</h2>
			
	<h3>
		<i class="fa fa-camera-retro" aria-hidden="true"></i>
		Unplugged Wedding
	</h3>
	<div class="pink-line"></div>
	<p class="text-center">We have hired these two really awesome photographers, Brit and Cole Winsett of Indigo Photography, to capture moments from the entire day. They are really good at their job, so please refrain from taking photos until after the ceremony. Thank you.</p>

	<div class="empty-div"></div>

	<h3>
		<i class="fa fa-music" aria-hidden="true"></i>
		Ceremony Order of Events
	</h3>

	<div class="pink-line"></div>

	<p class="event">Wedding Party Processional</p>
	<p class="emphasis">Dog Days are Over by Florence + The Machine</p>
	<p class="event">Bride and Groom Processional</p>
	<p class="emphasis">Vagabond by Wolfmother</p>
	<p class="event">Ceremony</p>
	<p class="emphasis">by Dane Richardson</p>
	<p class="event">Exchange of Vows</p>
	<p class="event">Unveiling of Rings</p>
	<p class="event">Recessional</p>
	<p class="emphasis">You Make My Dreams Come True by Hall &amp; Oates</p>
</div>

<div id="navigation">
	<p id="pagination">2 &nbsp;/&nbsp; 9</p>
	<a href="/program">
		<div class="arrow-left"></div>
	</a>
	<a href="/program/#/events">
		<div class="arrow-right"></div>
	</a>
</div>