<div id="content" class="animated fadeIn">
	
<h2>The Couple</h2>

	<div class="row">
		<img src="images/luke.jpg" class="bio-pic-lt">
		<p class="bio-lt">Also known as Luk@$, Luke is a software developer in Downtown Detroit, creating the hottest software of 2016. Seriously, it's straight fire. Things Luke enjoys: a neat glass of whiskey, a well-built PC, and exploring downtown. Things Luke doesn't really like: snow, heights, oceans, and driving. Pretty comprehensive list. Everything else falls in the middle somewhere.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/britta.jpg" class="bio-pic-rt">
		<p class="bio-rt">Britta is probably the coolest person you will ever meet if you're weirdly into awkward, sarcastic, sassy, cynical web developers. Ways to be Britta's friend: own a cat/dog/pig or give her tacos. That's it. Dislikes include onions, spiders, and generally everything. She cried all day on her eleventh birthday because she didn't get an acceptance letter from Hogwarts.</p>
	</div>


</div>

<div id="navigation">
	<p id="pagination">4 &nbsp;/&nbsp; 9</p>
	<a href="/program/#/events">
		<div class="arrow-left"></div>
	</a>
	<a href="/program/#/wedding-party1">
		<div class="arrow-right"></div>
	</a>
</div>