<div id="content" class="animated fadeIn">
	<h2>A Special Thanks To...</h2>

	<p class="event">ABC Catering</p>
	<p class="emphasis">Erin Bedows</p>

	<div class="empty-div"></div>

	<p class="event">Candlewood Suites</p>
	<p class="emphasis">Becca Divan</p>

	<div class="empty-div"></div>

	<p class="event">Halo Cupcake</p>
	<p class="emphasis">Liz Malone</p>

	<div class="empty-div"></div>

	<p class="event">Indigo Photography</p>
	<p class="emphasis">Brit &amp; Cole Winsett</p>

	<div class="empty-div"></div>

	<p class="event">Klehm Arboretum</p>
	<p class="emphasis">Chris Sarna</p>

	<div class="empty-div"></div>

	<p class="event">Radisson Hotel</p>
	<p class="emphasis">Vicki Sanameesai</p>

	<div class="empty-div"></div>

	<p class="event">The Experience Salon</p>
	<p class="emphasis">Tabatha Tamras</p>

	<div class="empty-div"></div>

	<p class="event">And all of our friends and families here today.</p>
</div>

<div id="navigation">
	<p id="pagination">9 &nbsp;/&nbsp; 9</p>
	<a href="/program/#/wedding-party4">
		<div class="arrow-left"></div>
	</a>
</div>