<div id="content" class="animated fadeInLeft">
	<h2>Some Special People, continued</h2>

	<h3>
		<i class="fa fa-star"></i>
		Celebrant
	</h3>

	<div class="pink-line"></div>

	<div class="row">
		<img src="images/dane.jpg" class="bio-pic-lt">
		<p class="bio-lt">Dane, also known by "Chef Boyar-DANE-gerzone," is well-versed in pun-ology, the art of cringeworthy puns. He attended NIU with many members of the wedding party and is now working for Echo, a third-party logistics company in Chicago, as an account manager. He loves elephants.</p>
	</div>

	<div class="empty-div"></div>

	<h3>
		<i class="fa fa-gear"></i>
		Flower Girls
	</h3>

	<div class="pink-line"></div>

	<div class="row">
		<img src="images/lynne.jpg" class="bio-pic-lt">
		<p class="bio-lt">Lynne is Britta's grandmother, and has two children and four grandchildren, of whom, Britta is quite obviously the favorite*. She is currently retired, but enjoyed many jobs, of which working at Pecatonica High School was her favorite. Her favorite television show is Dancing with the Stars, because who doesn't love Maksim Chermovskiy?</p>
		<p class="bio-lt"><em>* This was never explicitly stated by Lynne, just interpreted.</em></p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/chase.jpg" class="bio-pic-rt">
		<p class="bio-rt">Kay has been married to Luke's grandpa, Paul, for fifty-one years. They have four children, and nine precious grandchildren have been added to their family. Now her family continues to grow with great-grandchildren. Luke is Kay and Paul's first grandchild to be getting married, and she says, "It is an honor to be part of this special day. Let the good times begin."</p>
	</div>
</div>

<div id="navigation">
	<p id="pagination">7 &nbsp;/&nbsp; 9</p>
	<a href="/program/#/wedding-party2">
		<div class="arrow-left"></div>
	</a>
	<a href="/program/#/wedding-party4">
		<div class="arrow-right"></div>
	</a>
</div>