<div id="content" class="animated fadeIn">
	<h3>
		<i class="fa fa-users"></i>
		Family
	</h3>

	<div class="pink-line"></div>

	<div class="row">
		<img src="images/tad.jpg" class="bio-pic-lt">
		<p class="bio-lt">Tad Rodenbeck attended University of Illinois and consequently bleeds orange and blue, albeit frustratingly at most times. Now an engineer, he spends free time watching Seinfeld and sports, playing golf, and hanging out with his friends and daughters. Tad once played Augusta National and met Glenn Frey of The Eagles at the same course.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/susan.jpg" class="bio-pic-rt">
		<p class="bio-rt">Susan Rodenbeck was born in Pecatonica and grew up to attend NIU, the first in her family to do so. She graduated with a nursing degree, which has been her profession and passion for many years. Susan enjoys reading and gardening on her days off, and dreams of the day she can do both in the same week.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/susanb.jpg" class="bio-pic-lt">
		<p class="bio-lt">Susan Brimeyer has been married to Jeff for almost 28 years. She is the grandmother to Aubrey and Avirey. Susan is a special education teachers' assistant at Belvidere High School. She likes to cook, collect Precious Moments, spend time with her family, and travel with Jeff to different places.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/jeff.jpg" class="bio-pic-rt">
		<p class="bio-rt">Jeff Brimeyer only collected one concussion as a child, and he only needed one. His first job was at IBM in New York, where Luke was born. Jeff and Susan then moved to Minnesota and watched Luke get attacked by a goose. They then went to Wisconsin and finally settled in Illinois where they had Luke's two siblings.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/sarah.jpg" class="bio-pic-lt">
		<p class="bio-lt">Sarah Brimeyer is Luke's younger sister, favorite sibling, and the Brimeyer House Manager. While at Belvidere High School, she played soccer and graduated in 2014 before going on to Loras College in Dubuque, IA to study business administration and sociology. She enjoys baking, eating chocolate, and kayaking.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/steve.jpg" class="bio-pic-rt">
		<p class="bio-rt">Steven Brimeyer is Luke's younger brother and father of Aubrey and Avirey, Luke's niece and nephew. He graduated from Belvidere High School last spring, but is still convinced his name is spelled S-T-U-V. He currently attends Rock Valley College and works at the Belvidere Parks Department. He enjoys freshly shaved puppies, warm maple syrup, and lightly mashed potatoes.</p>
	</div>
</div>

<div id="navigation">
	<p id="pagination">8 &nbsp;/&nbsp; 9</p>
	<a href="/program/#/wedding-party3">
		<div class="arrow-left"></div>
	</a>
	<a href="/program/#/thank-you">
		<div class="arrow-right"></div>
	</a>
</div>