<div id="content" class="animated fadeIn">
	<h2>Some Special People, continued</h2>

	<h3>
		<i class="fa fa-black-tie" aria-hidden="true"></i>
		Groomsmen
	</h3>

	<div class="pink-line"></div>

	<div class="row">
		<img src="images/sam.jpg" class="bio-pic-lt">
		<p class="bio-lt">Sam was the responsible roommate at Luke's townhouse, "The Vatican." He is an operations systems analyst at a manufacturing firm and is in school, working towards his Master's in Management Information Systems. Sam dislikes college textbooks, bad budgets, standing still, and seedless watermelons.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/john.jpg" class="bio-pic-rt">
		<p class="bio-rt">John and Luke have known each other since high school, where Luke once duct taped him to a chair. Somehow they've remained friends. He is currently a rental manager at Penske Truck Leasing in Green Bay, Wisconsin. He loves playing golf, long walks on the beach, and watching the Cubs win the World Series.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/zabel.jpg" class="bio-pic-lt">
		<p class="bio-lt">"Matthew," or Zabel, was Luke's PBFF (Pacemaker Best Friend Forever). Zabel is studying math education at Northern Illinois University, following his dream of being an educator. Zabel's favorite hobby is napping. He has a strong dislike of birds and days that he can't nap.</p>
	</div>
</div>

<div id="navigation">
	<p id="pagination">6 &nbsp;/&nbsp; 9</p>
	<a href="/program/#/wedding-party1">
		<div class="arrow-left"></div>
	</a>
	<a href="/program/#/wedding-party3">
		<div class="arrow-right"></div>
	</a>
</div>