<div id="content" class="animated fadeInLeft">
	<h2>Some Special People</h2>

	<h3>
		<i class="fa fa-heart" aria-hidden="true"></i>
		Bridal Party
	</h3>

	<div class="pink-line"></div>

	<div class="row">
		<img src="images/hannah.jpg" class="bio-pic-lt">
		<p class="bio-lt">Hannah is biologically Britta's sister and is also her best friend. She studies at Rock Valley College and will be attending NIU in the spring to study Community Learning and Civic Engagement. The warm weather and outdoors are all Hannah needs to be happy, keeping her thrilled with her work at Anderson Gardens. She's a regular Oscar Wilde.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/marissa.jpg" class="bio-pic-rt">
		<p class="bio-rt">Marissa has been one of Britta's best friends since sixth grade Builder's Club, bonding over mutual nerdiness. She is currently back in school for occupational therapy while working at local senior living community, Wesley Willows. She enjoys primitive camping, a good book, and amateur dog photography.</p>
	</div>

	<div class="empty-div"></div>

	<div class="row">
		<img src="images/chase.jpg" class="bio-pic-lt">
		<p class="bio-lt">Chase is one of Britta's best friends and her ride-or-die roomie, having survived over a year living with Voldemort himself. After graduating with a psychology degree, Chase is now back in school, obtaining a Master's Degree in Computer Science. Chase loves video games of all kinds, but will seriously murder you at Super Smash Bros. Melee.</p>
	</div>

</div>

<div id="navigation">
	<p id="pagination">5 &nbsp;/&nbsp; 9</p>
	<a href="/program/#/couple">
		<div class="arrow-left"></div>
	</a>
	<a href="/program/#/wedding-party2">
		<div class="arrow-right"></div>
	</a>
</div>